<!DOCTYPE html>
<html>
  <head>
    <title>Astronomy Daily</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="landing-page">
      <div class="daynamic-content">
          <!-- <img src="" alt="" name="slide"> -->
          <!-- <div class="welcome"> -->
          <h1>Welcome To Astronomy Daily Blog</h1>
          <a href="/astro">View Astronomy Posts</a>
          <!-- </div> -->
      </div>
  </div>    
  </body>
</html>
